.page {
    &--home {
        width: 100vw;
        display: grid;
        grid-template-columns: 40% 60%;
        overflow: hidden;
    
        @include media-lt-900 {
            grid-template-columns: 1fr;
        }

        .section {
            min-height: 100vh;
    
            @include media-lt-900 {
                min-height: unset;
            }
        }
    }
}
