.page {
    &--home {
        .section {
            &--intro {
                padding: 20vh 16%;
                background: $primaryColor;
    
                @include media-lt-900 {
                    padding: 70px 10%;
                }

                .text {
                    &__element {
                        &--title {
                            margin: 0 0 20px;
                        }
                    }
                }
            }
        }
    }
}
