$loading-width-small: 10px;
$loading-width-large: 16px;

@-webkit-keyframes loading {
    0% {
      transform: translateX(0) scale(1);
      width: $loading-width-small;
    }
    12% {
      width: $loading-width-large;
    }
    25% {
      transform: translateX(-50px) scale(0.3);
      width: $loading-width-small;
    }
    33% {
      width: $loading-width-large;
    }
    50% {
      transform: translateX(0) scale(1);
      width: $loading-width-small;
    }
    66% {
      width: $loading-width-large;
    }
    75% {
      transform: translateX(50px) scale(0.3);
      width: $loading-width-small;
    }
    87% {
      width: $loading-width-large;
    }
    100% {
      transform: translateX(0) scale(1);
      width: $loading-width-small;
    }
}
  
  @keyframes loading {
    0% {
      transform: translateX(0) scale(1);
      width: $loading-width-small;
    }
    12% {
      width: $loading-width-large;
    }
    25% {
      transform: translateX(-50px) scale(0.3);
      width: $loading-width-small;
    }
    33% {
      width: $loading-width-large;
    }
    50% {
      transform: translateX(0) scale(1);
      width: $loading-width-small;
    }
    66% {
      width: $loading-width-large;
    }
    75% {
      transform: translateX(50px) scale(0.3);
      width: $loading-width-small;
    }
    87% {
      width: $loading-width-large;
    }
    100% {
      transform: translateX(0) scale(1);
      width: $loading-width-small;
    }
}


@-webkit-keyframes pulseEffect {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba($successColor, 0.6);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba($successColor, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba($successColor, 0);
  }
}
@keyframes pulseEffect {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba($successColor, 0.6);
    box-shadow: 0 0 0 0 rgba($successColor, 0.6);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba($successColor, 0);
      box-shadow: 0 0 0 10px rgba($successColor, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba($successColor, 0);
      box-shadow: 0 0 0 0 rgba($successColor, 0);
  }
}

$loading-width-small: 10px;
$loading-width-large: 16px;

@-webkit-keyframes loading {
    0% {
      transform: translateX(0) scale(1);
      width: $loading-width-small;
    }
    12% {
      width: $loading-width-large;
    }
    25% {
      transform: translateX(-50px) scale(0.3);
      width: $loading-width-small;
    }
    33% {
      width: $loading-width-large;
    }
    50% {
      transform: translateX(0) scale(1);
      width: $loading-width-small;
    }
    66% {
      width: $loading-width-large;
    }
    75% {
      transform: translateX(50px) scale(0.3);
      width: $loading-width-small;
    }
    87% {
      width: $loading-width-large;
    }
    100% {
      transform: translateX(0) scale(1);
      width: $loading-width-small;
    }
}
  
  @keyframes loading {
    0% {
      transform: translateX(0) scale(1);
      width: $loading-width-small;
    }
    12% {
      width: $loading-width-large;
    }
    25% {
      transform: translateX(-50px) scale(0.3);
      width: $loading-width-small;
    }
    33% {
      width: $loading-width-large;
    }
    50% {
      transform: translateX(0) scale(1);
      width: $loading-width-small;
    }
    66% {
      width: $loading-width-large;
    }
    75% {
      transform: translateX(50px) scale(0.3);
      width: $loading-width-small;
    }
    87% {
      width: $loading-width-large;
    }
    100% {
      transform: translateX(0) scale(1);
      width: $loading-width-small;
    }
}
